auto

/* font style here */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.work-sans{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* shared style */
.display-flex{
    display: flex;
}
/* color here */
.orange{
    background-color: #FF900E;
}
.dark-1{
    color:#131313;
}
.dark-2{
    color: #424242;
}
.dark-3{
    color:#727272;
}
.orange-color{
    color: #FF900E;
}
.header-back{
    background-color: rgba(255, 144, 14, 0.1);
}

/* navbar work */
   
.navbar{
    justify-content: space-around;
    align-items: center;
    margin-bottom: 102px;
}
.logo{
    font-size: 3rem;
    font-weight: bold;
}

ul li {
    list-style: none;
}
ul li a{
    text-decoration: none;
    margin-right: 40px;
     font-size: 18px;
    font-weight: 400;
}
.navbar .banner{
    max-width: 1440px;
    margin: 0px auto;
}
.head-img{
    margin-bottom: 24px;

}
/* Header banner section work */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-title{
    font-size:64px ;
    font-weight:Bold ;
    width: 862px;
    text-align: center;
    margin-bottom: 33px;
}
.banner-description{
    font-size: 16px;
    font-weight: 400;
    width: 868px;
    text-align: center;
    margin-bottom: 33px;
}
.btn{
    border-radius: 8px;
    border: none;
    width: 180px;
    height: 64px;
    color: #ffff;
    font-size:1.25rem;
    margin-bottom: 50px;
}
.head-img{
    width:100%;
    height: auto;
    border-radius: 8px;
}

/* main part work start first section*/
main{
    max-width: 1440px;
    margin: 0 auto;
}
.raja{
    display: flex;
}
.container{
    display: flex;
    margin-top: 85px;
}
.images-div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
  .image{
        width:100%;
    }
.right-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left:76px
}
.right-title{
    font-size: 45px;
    font-weight: bolder;
    width: 468px;
    height: 106px;
    margin-bottom: 24px;
}
.right-description-1{
    font-size: 16px;
    font-weight: 400;
   margin-bottom: 50px;
}
.main-btn{
    color: #ffff;
    width:180px ;
    height: 64px;
    border-radius: 8px;
}

/* Responsive Media Quaire  small device*/
@media screen and (max-width:576px){
    .display-flex{
        flex-direction: column;  
        margin-bottom: 10px;
    }
   .list-items{
    gap: 5px;
   }
    .banner-title,.banner-description{
        width: 100%;
    }
    .right-title{
        width: 100%;
    }
    .images-div{
        grid-template-columns:repeat(1,1fr);
    }
    .right-title{
        margin-bottom: 10px;
    }
    .banner-title{
        font-size: 30px;
    }
    .right-description{
        margin-left: 10px;
    }
    .container{
        flex-direction: column;
    }

}
/* Responsive Media Quaire  medium device*/
@media screen and (min-width:576px) and (max-width:992px){
    .display-flex,{
        flex-direction: column;  
        margin-bottom: 10px;
    }
    .banner-title,.banner-description{
        width: 100%;
    }
   .container{
    flex-direction: column;
   }
    
}

